@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply light;
}

.light {
  --color-primary: #f4effc;
  --color-primary-hovered: #e2daeb;
  --color-secondary: #67568c;
  --color-secondary-hovered: #361a5e;
  --color-accent: #ff6e6c;
  --color-accent-hovered: #ff7d7b;
  --color-light: #fdfdfd;
  --color-dark: #1f1235;
}

.dark {
  --color-primary: #361a5e;
  --color-primary-hovered: #67568c;
  --color-secondary: #f4effc;
  --color-secondary-hovered: #e2daeb;
  --color-accent: #ff6e6c;
  --color-accent-hovered: #ff7d7b;
  --color-dark: #fdfdfd;
  --color-light: #1f1235;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light);
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.login-input,
.register-input {
  @apply border-b;
}

.btn {
  @apply text-light bg-accent border-0 py-2 px-6 focus:outline-none hover:bg-accentHovered rounded cursor-pointer;
}

pre {
  background-color: #343434;
  color: #fdfdfd;
  padding: 1rem;
  border-radius: 4px;
  margin: 1rem 0 1rem 0;
}

code {
  font-family: monospace;
  font-size: inherit;
  overflow-wrap: break-word;
}

p > code,
li > code,
dd > code,
td > code {
  background: #ffeff0;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 0.2rem;
}
